<header>
    <h1><a routerLink="">CarZ</a></h1>
    <nav>
        <a id="catalogLink" routerLink="/cars" routerLinkActive="active">Dashboard</a>
        <div id="user">
            <a id="createLink" routerLink="/add-car" routerLinkActive="active">Create a car</a>
            <a id="profileLink" href="/my-furniture" >My Publications</a>
            <a id="logoutBtn" href="javascript:void(0)">Logout</a>
        </div>
        <div id="guest">
            <a id="loginLink" routerLink="/login" routerLinkActive="active">Login</a> 
            <a id="registerLink" routerLink="/register" routerLinkActive="active">Register</a>
        </div>
    </nav>
</header>